CompileFlags:
  CompilationDatabase: /Users/charms/sync/documents/university/haw/vorlesungen/ss26/grundlagen_technische_informatik/git/ITS-BRD-VSC/Programs/StoppuhrASM/out/StoppuhrASM/ITSboard_Assembly/Debug
  Add:
    - -include
    - /Users/charms/sync/documents/university/haw/vorlesungen/ss26/grundlagen_technische_informatik/git/ITS-BRD-VSC/Programs/StoppuhrASM/out/StoppuhrASM/ITSboard_Assembly/Debug/compile_macros.h
